body {
	color: #000;
}
.projektliste>div>.projekt-card {
	width: 15em;
	margin: 5px 2px;
}

.projektliste {
	width: 66.6666%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.wahlliste {
	width: 33.3333%;
	overflow-y: scroll;
	height: 100%;
}
