table {
  overflow: visible !important;
}

@media (max-width: 1300px) {
  .tmp-modal table {
    overflow-x: scroll !important;
  }
  #configModal table {
    display: block !important;
    overflow-x: scroll !important;
  }
}

@media (max-width: 1100px) {
  #schuelerModal table {
    display: block !important;
  }
}
