@media (max-width: 1125px) {
  #configModal table {
    display: block !important;
    overflow-x: scroll !important;
  }
}


@media (max-width: 945px) {
	#schuelerModal .modal-footer {
    display: block;
	}
}

#configForm textarea {
  min-height: 80px;
}
