html, body {
	height: 100%;
	color: #ffffff;
	background-color: darkgray;
	background-image: url("/background.jpg");
	background-attachment: fixed;
	background-size: cover;
}

body {
	overflow: scroll;
	overflow-x: hidden;
	display: -ms-flexbox;
	display: -moz-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: baseline;
	-webkit-box-pack: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #098C38;
}

.ghost {
	position: absolute;
	opacity: 0.5;
}

.modal {
	overflow-y: scroll !important;
}

.modal-lg {
    max-width: 90% !important;
}

button {
	margin-bottom: 1rem;
}

button.close {
	color: white;
}

table {
  overflow-x: auto !important;
}

@media (max-width: 750px) {
	table {
    display: block !important;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 60px;
}

@media screen {
	#section-to-print {
		display: none;
		visibility: hidden;
	}
}

@media print {
	@page {
		size: 297mm 210mm;
		margin: 0;
	}

	html, body, body * {
		margin: 0;
		padding: 0;
		background-color: #fff !important;
		background-image: none !important;
	}

	body>div:not(#section-to-print) {
		display: none;
		visibility: hidden;
	}

	#section-to-print {
		display: block;
		visibility: visible;
		color: #000 !important;
		font-size: 18px;
		width: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}
	
	.container {
		width: auto;
	}
}

#section-to-print {
	color: #000 !important;
	font-size: 18px;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
}

#section-to-print .print-projekt {
	/*height: 29.7cm; // theoretisch wären es 29,7cm...... (minus die 0.05cm border)*/
	padding: 2cm;
	text-align: left;
	page-break-after: always;
}

#section-to-print .row {
	width: 100%;
	border: 2px solid #000;
	margin-bottom: 0.7cm;
}
#section-to-print .row>div, #section-to-print table td, #section-to-print table th {
	border-right: 2px solid #000;
}
#section-to-print .row>div.last, #section-to-print table td.last, #section-to-print table th.last {
	border-right: none;
}
#section-to-print .row #beschreibung {
	min-height: 7cm;
}
#section-to-print h3 {
	font-size: 2.2rem;
}

#section-to-print table {
	margin-left: -15px;
	margin-right: 15px;
	border: 2px solid #000;
}
#section-to-print .table thead th {
	border-bottom: none;
}
#section-to-print table, thead, tbody, tr {
	width: 100%;
}
#section-to-print tbody td, tbody th {
	border-top: 2px solid #000 !important;
}
#section-to-print tr.tagesablauf>td>p {
	min-height: 3cm;
}
