.card.projekt {
	margin: 0.3rem;
	touch-action: none;
}
#projektliste .card.projekt {
	max-width: calc(50% - 10px);
}
.card.projekt.dragged {
	z-index: 1100;
	border: 2px dashed #DC3545;
}

.drag-over {
	border: 2px dashed #098C38 !important;
}
.drop-active {
	border: 2px dashed #098C38 !important;
}


#wahlliste {
	touch-action: none;
}
#wahlliste .card.projekt a {
	display: none !important;
}

#tiltPhone img {
	margin-left: -61.5px !important;
	/*
	Bei Bild-Größe von 192 x 192
	x: 62 von rechts -> 192 - 62 = 130	y: 81 von unten 192 - 81 = 111
	transform-origin: 130px 111px;
	Bei Bild-Größe von 150 x 150
	x: 130 * 150 / 192 = ~ 101	y: 111 * 150 / 192 = ~ 86.7
	*/
	transform-origin: 101px 86.7px;
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
	0%, 30% {
		-moz-transform: rotate(0);
	}
	60%, 90% {
		-moz-transform: rotate(-90deg);
	}
}
@-webkit-keyframes spin {
	0%, 30% {
		-webkit-transform: rotate(0);
	}
	60%, 90% {
		-webkit-transform: rotate(-90deg);
	}
}
@keyframes spin {
	0%, 30% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	60%, 90% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}
@media (max-width: 576px) {
	#tiltPhone {
		display: block !important;
		visibility: visible !important;
	}
	#wahlpage {
		display: none !important;
		visibility: hidden !important;
	}
}

@media (max-width: 840px) {
	.card .card-body {
		padding: 0.3rem !important;
	}
	.card .card-body h5 {
		font-size: 0.7rem !important;
	}
	.card .card-body a {
		padding: 0.188rem 0.45rem !important;
	}
	.card.projekt .card-body a {
		font-size: 0.7rem !important;
	}
	#wahlliste th, #wahlliste td {
		font-size: 0.7rem !important;
		padding: 0.1rem 0.2rem !important;
	}
	#wahlliste .btn-group .btn {
		font-size: 0.7rem !important;
		padding: 0.1rem 0.25rem !important;
	}
}
