.card {
	color: #000;
}
.card.projekt {
	border: 2px dashed transparent;
	max-width: 300px;
	margin: 0.3rem;
}
.card.projekt.drag-over {
	border-color: #098C38;
}
.card.projekt.dragged {
	border-color: #DC3545;
}

#projektliste {
	overflow-y: scroll;
	overflow-x: visible;
}

#wahlliste {
	border: 2px dashed transparent;
}
#wahlliste.drop-active {
	border-color: #098C38;
}
